beautifulsoup4
pywin32; sys_platform == 'win32'
dbus-python; sys_platform == 'linux'
applescript>=2020.6.12; sys_platform == 'darwin'
requests>=2.32.0
unidecode
pylrc>=0.1.2
pathvalidate
diskcache
sentry-sdk
azapi>=3.0.7
setuptools>=70.0.0
urllib3>=2.5.0
